/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 23 oct 2024, 22:05:48
    Author     : Sofii
*/

/* Selector de ID */
#tituloPrincipal {
    color: #ff93d6;
    font-size: 50px
    
}

.parrafonegrita {
    font-weight: bold;
    color: darkgreen;
    
}

.parrafoEspecial {
    font-family: Comic Sans MS;
}

.prioridad {
    color:red;
}
.prioridad1 {p{
    word-spacing: 5px;
}

.ejemploCajas {
    border: 2px solid black;
    
    /* 1 parametro = aplica a los 4 lados */
    /*padding-top: 10px;*/
    
    /* 2 parametro = top/bottom - left/right */
    padding: 20px 10px;
    
    /* 3 parametro = top - left/right - bottom*/
    padding: 20px 10px 15px;
    
    /* 4 parametro = top - left - right - bottom*/
    padding: 20px 10px 15px 30px;
    margin: 20px 10px 15px 30px;
    
    width: 50%;
    margin: 0 auto;
}

    color:red;
}
.prioridad2 {
    color:purple;
}


a:link{
    color:crimson;
    background-color: aquamarine;
    border: 2px solid aquamarine;
    margin-top: 10px;
    padding: 4px;
    border-radius: 25px;
    
}

a:visited {
    color: black;
    background-color: chartreuse;   
}

a:hover {
    color: white;
    background-color: green;
    transition: 1.5s;
}

a:active {
    color: white;
    background-color: purple;
}